# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Logs
app/logs/*
!app/logs/.gitkeep

# Snapshots
app/snapshots/*
!app/snapshots/.gitkeep

# Uploads
app/uploads/*
!app/uploads/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db